<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKRLWSMj27IChGXF5bCfeFfeeLc8kATdI</string>
	<key>GCM_SENDER_ID</key>
	<string>448213785394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appTamplate.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>safetyeye-e9274</string>
	<key>STORAGE_BUCKET</key>
	<string>safetyeye-e9274.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448213785394:ios:f8dd5b5d01e5f8862e552b</string>
</dict>
</plist>